<footer >
    <div class="footer" >
        <img src="/img/logo_nutrition.png">
       
    
      

            <div class="mp-cont-redes mp-footer-division">
                <i class="fab fa-facebook-f" id="mp-icon-size"></i>
                <i class="fab fa-instagram" id="mp-icon-size"></i>
                <i class="fab fa-twitter" id="mp-icon-size"></i>
            </div>
            <div class="mp-cont-redes mp-footer-division">
                <p href="/" ><a href="/" class="hide"> Inicio</a></p>
                <p href="/" ><a href="/nosotros" class="hide"> Nosotros</a></p>
                <p href="/" ><a href="/contacto"class="hide"> Contactanos</a></p>
                <p class="hide">Team</p> 
                <p class="hide">FAQ</p> 
            </div>

        
        
    
        <span id = footerEmail class="hide">
            <p>Registrese para recibir las ultimas ofertas y promociones</p>
            <input type="emailBox">
            <br />
            <input type="submit">
        </span>


    </div>
  
</footer>