<footer>
    <span id= footerLinks>
        <p href="/"><a href="/"> Inicio</a></p>
        <p>Nosotros</p>
        <p>Contacto</p> 
    </span>

    <img src="./../img/logo.png">

    <span id = footerEmail>
        <p>Registrese para recibir las ultimas ofertas y promociones</p>
        <input type="emailBox">
        <br />
        <input type="submit">
    </span>
</footer>