<footer>
    <span id= footerLinks>
        <p href="/"><a href="/"> Inicio</a></p>
        <p>Nosotros</p>
        <p>Contacto</p> 
    </span>

<<<<<<< HEAD
    <img src="../img/logo.png">
=======
    <img src="./../img/logo.png">
>>>>>>> 3e3469a13c6316aeeb018350ff05e3a03f3a4ff4

    <span id = footerEmail>
        <p>Registrese para recibir las ultimas ofertas y promociones</p>
        <input type="emailBox">
        <br />
        <input type="submit">
    </span>
</footer>