<header class="mp-contGral-header">
 
<div class="dropbox">
 <ul>
    <li> <img src="/img/logo provisorio.JPG" width="70" height="50">  </img> </li>
    <li><a href="/">INICIO</a></li>
    <li><a href="#">PRODUCTOS</a>
        <ul>
           <li><a href="#"> QUEMADORES</a></li>
           <li><a href="#"> PRE-TRAINING</a></li>
           <li><a href="#"> OTROS</a></li>
        </ul>
    </li>
    <li> <a href="/">GREEN TEAM</a></li>
    <li> <a href="/">FAQ</a></li>
    <li> <a href="/" href="/createProduct">CREAR</a></li>
 </ul> 
</div>

 <div class="mp-contList-header-icons">    
         <p id="mp-listItems-header"><a href="/products/carro_compras"></li><i class="fas fa-shopping-cart"></i></p>
         <p id="mp-listItems-header"><a href="/users/login" ><i class="far fa-user"></i></a></p>     
             <form action="/busqueda" method="POST" class="mp-serchbar-header">
                 <button class="mp-searchbar-header-icon"><i class="fas fa-search"></i></button>
                 <input placeholder="Buscar" class="mp-serchbar-header" ></input>
             </form>
 </div> 
 </header>