<header id = Barra>
    <img src="img/logo.png"> 
    <p> <a href="/">Inicio</a></p> 
    <p>Tienda</p>
    <p>Envíos</p>
    <p><a href="/carro_compras">Carrito</a></p>
    <p><a href="/login">Mi Cuenta</a></p>
    <p>Contacto</p>
 </header>