<header class="mp-contGral-header">
    <img src="/img/logo provisorio.jpg"> 
 <div class="mp-contList-header" >   
         <p id="mp-listItems-header"><a href="/"><a href="/">INICIO</a></p>
         <p id="mp-listItems-header"><a href="/"><a href="/products">PRODUCTOS</a></p>
         <p id="mp-listItems-header"><a href="/">TEAM</a></p>
         <p id="mp-listItems-header-faq"><a href="/">FAQ</a></p>
 </div>

 <div class="mp-contList-header-icons">    
         <p id="mp-listItems-header"><a href="/views/carro_compras.ejs"></li><i class="fas fa-shopping-cart"></i></p>
         <p id="mp-listItems-header"><a href="/views/login.ejs" ><i class="far fa-user"></i></a></p>     
             <form action="/busqueda" method="POST" class="mp-serchbar-header">
                 <button class="mp-searchbar-header-icon"><i class="fas fa-search"></i></button>
                 <input placeholder="Buscar" class="mp-serchbar-header" ></input>
             </form>
 </div> 
 </header>