<header class="mp-contGral-header">
    <img src="img/logo.png"> 
 <div class="mp-contList-header" >
    
    
         <p id="mp-listItems-header"><a href="/">INICIO</a></p>
         <p id="mp-listItems-header">PRODUCTOS</p>
         <p id="mp-listItems-header">TEAM</p>
         <p id="mp-listItems-header-faq">FAQ</p>
     
 </div>
 <div class="mp-contList-header-icons">
     
         <p id="mp-listItems-header"><a href="/carro_compras"></li><i class="fas fa-shopping-cart"></i></p>
         <p id="mp-listItems-header"><a href="/login" ></a><i class="far fa-user"></i></p>
         
             <form action="/busqueda" method="POST" class="mp-serchbar-header">
                 <button class="mp-searchbar-header-icon"><i class="fas fa-search"></i></button>
                 <input placeholder="Buscar" class="mp-serchbar-header" ></input>
              
             </form>

     
 </div>  
   
 

 </header>