<!DOCTYPE html>

<html>

  <%-include("partials/head.ejs") %>
  <body>
  <%-include("partials/header.ejs") %>
  
  


 <!--Section: Block Content-->
<main>
<div class="d-flex p-2 justify-content-center">
    <br>
    <br>
    <br>
    <br>

    <!--Grid row-->
    <div class="row" style="margin-top: 10vh;">
  
      <!--Grid column-->
      <div class="col-lg-8 mb-4">
  
        <!-- Card -->
        <div class="card wish-list pb-1">
          <div class="card-body">
  
            <h5 class="mb-2"style="margin-top: 12px">Detalle de Envío</h5>
  
            <!-- Grid row -->
            <div class="row ">
  
              <!-- Grid column -->
              <div class="col-lg-6">
  
                <!-- First name -->
                <div class="md-form md-outline mb-0 mb-lg-4">
                  <input type="text" id="firstName" class="form-control mb-0 mb-lg-2" placeholder="Nombre">
<!--                   <label for="firstName">Nombre</label> -->
                </div>
  
              </div>
              <!-- Grid column -->
  
              <!-- Grid column -->
              <div class="col-lg-6">
  
                <!-- Last name -->
                <div class="md-form md-outline">
                  <input type="text" id="lastName" class="form-control" placeholder="Apellido">
                  
                </div>
  
              </div>
              <!-- Grid column -->
  
            </div>
            <!-- Grid row -->
  
            <!-- Company name -->
        
  
            <!-- Country -->
            <div class="d-flex flex-wrap">
              <div class="select-outline position-relative w-100">
             <!--    <label>Provincia</label> -->
                <div class="md-form md-outline label-centerText ">
                  <label for="form18">Ingrese Provincia</label>
                <input type="text" id="form18" class="form-control">
              </div>
               
              </div>
            </div>
            <div class="d-flex flex-wrap">
                <div class="select-outline position-relative w-100">
                 <!--  <label>Localidad</label> -->
                 <div class="md-form md-outline label-centerText ">
                  <label for="form18">Ingrese Localidad</label>
                <input type="text" id="form18" class="form-control">
              </div>
                 
                </div>
              </div>
  
              <div class="row g-0 "><!-- grid row direccion y cp -->
            <!-- Address Part 1 -->
            
            <div class="col-lg-7 flex-grow-1">
                <div class="md-form md-outline mt-0 label-centerText col-lg-10">
                    <label for="form14">Dirección de Envío</label>
                  <input type="text" id="form14" placeholder="Calle, número y departamento" class="form-control">
                </div>
            </div>
              
              
            <!-- Address Part 2 -->
            <!-- Postcode / ZIP -->
            <div class="col-lg-2 form-max-width">
              <div class="md-form md-outline label-centerText ">
                  <label for="form16">CP</label>
                <input type="text" id="form16" class="form-control">
              </div>
            </div>
          </div>
  
         
            <!-- Phone -->
            <div class="md-form md-outline label-centerText ">
                <label for="form18">Teléfono</label>
              <input type="text" id="form18" class="form-control">
            </div>
  
            <!-- Email address -->
            <div class="md-form md-outline label-centerText">
                <label for="form19">Direccion de Email</label>
              <input type="email" id="form19" class="form-control">
            </div>
  
            <!-- Additional information -->
            <div class="md-form md-outline label-centerText" >
                <label for="form76">Informacion adicional</label>
              <textarea id="form76" class="md-textarea form-control" rows="4"></textarea>
            </div>
  
     
  
          </div>
        </div>
        <!-- Card -->
  
      </div>
      <!--Grid column-->
  
      <!--Grid column-->
      <div class="col-lg-4 small">
  
        <!-- Card -->
        <div class="card mb-4 "  >
          <div class="card-body">
  
            <h5 class="mb-3">Total</h5>
  
            <ul class="list-group list-group-flush " >
              <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0 label-centerText">
                Productos
                <span id="total-sin-envio">$53.98</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                Envio
                <span>Gratis</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                <div>
                  <strong>Monto total</strong>
                  <strong>
                    <p class="mb-0"></p>
                  </strong>
                </div>
                <span id="total-compra"><strong>$53.98</strong></span>
              </li>
            </ul>
  
           <a href="./pago"> <button type="button" class="btn btn-primary btn-block waves-effect waves-light" >Finalizar compra</button> </a>
  
          </div>
        </div>
        <!-- Card -->
  
        <!-- Card -->
     
        <!-- Card -->
  
      </div>
      <!--Grid column-->
  
    </div>
    <!--Grid row-->
  

  <!--Section: Block Content--> 


  </div>
</main>
<%-include("partials/footer.ejs") %>

<script src = "/js/shipping.js"></script>
  </body>
  </html>







