<!DOCTYPE html>

<html>

  <%-include("partials/head.ejs") %>
  <body>
  <%-include("partials/header.ejs") %>
  
  
  

  <!--Section: Content-->
<div class="text-center">

  <!-- Section heading -->
  <h3 class="text-center mb-4">Why is it so great?</h3>
  <!-- Section description -->
  <p class="text-center w-sm-75 mx-auto mb-5">Tenemos todo para llevar al máximo tu potencial</p>

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-md-4 mb-5">

      <img id= img-destacado src="/img/gana-musculo.jpg" > 
      <h5 class="my-4">Gana Músculo</h5>
      <p class="mb-0">Potencia tu fuerza y masa muscular con nuestros productos. Nuestros suplementos tienen tecnologia de punta para que cumplas con tus rutinas mas exigentes 
      </p>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-4 mb-5">

      <img id= img-destacado src="/img/recovery.jpg" > 
      <h5 class="my-4">Recupera</h5>
      <p class="mb-0">Recuperar es igual de importante que las repeticiones que hagas en tu sesiones de entrenamiento. Encontra los mejores productos y consejos para que, mientras no estas en el Gym, tu entrenamiento se potencie
      </p>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-4 mb-5">

      <img id= img-destacado src="/img/entrenador.jpg" > 
      <h5 class="my-4">Genera tu plan</h5>
      <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores
        aperiam minima assumenda deleniti hic.
      </p>

    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

</div>
<!--Section: Content-->
</main>
<%-include("partials/footer.ejs") %>

</body>



</html>







