<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">    
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Pattaya&display=swap" rel="stylesheet">
    <link rel ="stylesheet" href= "../css/styles.css">
    <title>MFE SUPLEMENTOS</title>
</head>

<body>
    <header class="mp-contGral-header">
       <img src="/img/logo.png"> 
    <div class="mp-contList-header" >
       
       
            <p id="mp-listItems-header"><a href="/">INICIO</a></p>
            <p id="mp-listItems-header">PRODUCTOS</p>
            <p id="mp-listItems-header">TEAM</p>
            <p id="mp-listItems-header-faq">FAQ</p>
        
    </div>
    <div class="mp-contList-header-icons">
        
            <p id="mp-listItems-header"><a href="/carro_compras"></li><i class="fas fa-shopping-cart"></i></p>
            <p id="mp-listItems-header"><a href="/login" ></a><i class="far fa-user"></i></p>
            
                <form action="/busqueda" method="POST" class="mp-serchbar-header">
                    <button class="mp-searchbar-header-icon"><i class="fas fa-search"></i></button>
                    <input placeholder="Buscar" class="mp-serchbar-header" ></input>
                 
                </form>

        
    </div>  
      
    

    </header>
  
    <main>
        <img id= Banner src="/img/abf_banner.jpg">
        <br />
        <br />
        <h2 id = Titulo>SUPLEMENTOS MAS VENDIDOS</h2>
        <br />
        <br />
        <br />
        <br />
        <section>
            <div>
            <img id= img-destacado src="/img/pump.jpg"> 
              <p>$1599</p>
              <button>Comprar</button>
              <p>PUMP V8</p>
            </div>
            <div>
            <img id= img-destacado src="/img/creatine_monohydrate.jpg" > 
              <p>$895</p>
              <button>Comprar</button>
              <p>CREATINE MONOHYDRATE</p>
            </div>
            <div>
            <img id= img-destacado src="/img/nitro_whey.jpg"> 
              <p>$2099</p>
              <button>Comprar</button>
              <p>NITRO WHEY</p>
        </div>
    </section>
    </main>

<footer>
    <span id= footerLinks>
        <p>Inicio</p>
        <p>Nosotros</p>
        <p>Contacto</p> 
    </span>

    <img src="/img/logo.png">

    <span id = footerEmail>
        <p>Registrese para recibir las ultimas ofertas y promociones</p>
        <input type="emailBox">
        <br />
        <input type="submit">
    </span>
</footer>

</body>
</html>