<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Pattaya&display=swap" rel="stylesheet">
    <link rel ="stylesheet" href= "../public/css/styles.css">
    <title>Document</title>
</head>

<body>
    <header id = Barra>
       <!-- <img src="img/logo.jpg" > FALTA LOGO--> 
       <p>Inicio</p> 
       <p>Tienda</p>
       <p>Carrito</p>
       <p>Envíos</p>
       <p>Mi Cuenta</p>
       <p>Contacto</p>
    </header>

    <main>
        <!--<img src="img/banner.jpg"  -->Falta Banner
        <h3 id = Titulo>SUPLEMENTOS MAS VENDIDOS</h3>
        <section id = Destacados>
            <div>
            <!-- <img src="img/item1.jpg" > FALTA Producto 1-->
              <p>$1999</p>
              <button>Comprar</button>
              <p>Nombre del producto</p>
            </div>
            <div>
            <!-- <img src="img/item2.jpg" > FALTA Producto 2-->
              <p>$1999</p>
              <button>Comprar</button>
              <p>Nombre del producto</p>
            </div>
            <div>
            <!-- <img src="img/item3.jpg" > FALTA Producto 3-->
              <p>$1999</p>
              <button>Comprar</button>
              <p>Nombre del producto</p>
        </div>
    </section>
    </main>

<footer>
    <div id= footerLinks>
        <p>Inicio</p>
        <p>Nosotros</p>
        <p>Contacto</p> 
    </div>
    <!-- <img src="img/logo.jpg" > FALTA LOGO--> 
    <div id = footerEmail>
        <p>Registrese para recibir las ultimas ofertas y promociones</p>
        <input type="emailBox">
        <button>Suscribirse</button>
    </div>
</footer>

</body>
</html>