<!DOCTYPE html>
<html lang="es">
    <%-include("partials/head.ejs") %>
<body>
    <%-include("partials/header.ejs") %>
  
    <main>
        <img id= Banner src="/img/abf_banner.jpg">
        <br />
        <br />
        <h2 id = Titulo>SUPLEMENTOS MAS VENDIDOS</h2>
        <br />
        <br />
        <br />
        <br />
        <section>

            <div>
            <img id= img-destacado src="/img/pump.jpg"> 
              <p>$1599</p>
              <button>Comprar</button>
              <p>PUMP V8</p>
            </div>
            <div>
            <img id= img-destacado src="/img/creatine_monohydrate.jpg" > 
              <p>$895</p>
              <button>Comprar</button>
              <p>CREATINE MONOHYDRATE</p>
            </div>
            <div>
            <img id= img-destacado src="/img/nitro_whey.jpg"> 
              <p>$2099</p>
              <button>Comprar</button>
              <p>NITRO WHEY</p>
        </div>
    </section>
    </main>

    <%-include("partials/footer.ejs") %>

</body>
</html>