<html>

     <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Pattaya&display=swap" rel="stylesheet">
        <link rel ="stylesheet" href= "../css/styles.css">
        <title>Document</title>
    </head>

    <body>
    </body>
    <header id = Barra>
      <img src="img/logo.png"> 
      <p>Inicio</p> 
      <p>Tienda</p>
      <p>Carrito</p>
      <p>Envíos</p>
      <p>Mi Cuenta</p>
      <p>Contacto</p>
   </header>
   

   

  <!-- LOGIN -->
<main >
  <div class=" contenedorLogin">
  <img src="/img/login_caratula.jpg" id="img">
    <form action="" class="formcenter contenedorForm " method="POST" >


      <h3 id=margen1> Log in </h3>
      <br>
      
    
      <div >
      <p class="formreg ">
        <label for="Usuario"> </label>
        <input type="text" class= "sinborde" placeholder="*Usuario o Email" value="" maxlength="30" name="usuario" id:="nombre">
        <br/> <br/>
    
        <label for="password"> </label>
        <input type="password" placeholder="Contraseña" class= "sinborde" name="contraseña">
        <br>
        <br>
      

       
        <input type="checkbox" name="combo" value="Primero">
        <label for="text" class="Accept"> Recordar usuario </label>
        <a class="accept">Olvido su contraseña? </a>
        <br> <br/>
        <br/> <br/>
        <br/> <br/>
        

        <input type="submit" class="Cuenta" value="INICIAR SESION" style="width:250px; height:40px">
      </div>
        <!-- <input type="reset" value="REINICAR"> -->
      
      </form>
    </div>
  </main>

  <footer>
    <span id= footerLinks>
        <p>Inicio</p>
        <p>Nosotros</p>
        <p>Contacto</p> 
    </span>

    <img src="img/logo.png">

    <span id = footerEmail>
        <p>Registrese para recibir las ultimas ofertas y promociones</p>
        <input type="emailBox">
        <br />
        <input type="submit">
    </span>
</footer> 


  </body>





  </html>




