<!DOCTYPE html>

<html>

  <head>
    <head>
      <meta charset="utf-8">
      <title>Nombre Sitio</title>
      <link rel="stylesheet" href="/css/styles_producto.css">
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">    
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">


  </head>

  <body>
    
    <header> <!--poner header hecho por Elio -->
   
      <section >

          
      </section>
     
    </header>
   
   
    <main>     
         <Sectio> 
         
          <article >
            <div class="contenedorMaxProd">
              <div class="conteiner2 " ><img src = "./img/pump.JPG" class= "imagenProducto" > </img>
                <div id="conteinerTextoProducto">
                  <h3>Nombre producto</h3>
                  <p>Descripcion de producto - Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur dolorum sequi iste veniam necessitatibus sed quo, corporis veritatis laborum doloremque reiciendis fugit architecto reprehenderit et facilis ut consequuntur deleniti labore?</p>
                </div>
                </div>

                <div id="precio"> <!--carro compras-->
                  <h3>Nompre de producto</h3>
                  
                  <h3>$$$$</h3>
                  <button id="carro de compras">Añadir a mis compras</button>
                  <div>
                    <p>12 cuotas sin Interes</p>
                    <i class="fab fa-cc-visa"></i>
                    <i class="fab fa-cc-mastercard"></i>
                    <i class="fab fa-cc-amex"></i>

                  </div>
      
                </div>
            </div>




            </div>
            <div >
              <ul class="conteiner1" > <!--carrusel de fotos -->
             <img src = "./img/Multifruta.JPG" class= "carrusel"> </img>
             <img src = "./img/info nutri.JPG" class= "carrusel"> </img>
             <img src = "./img/pump.JPG" class="carrusel"> </img>
              </ul>
            </div>         
            
            
            
            <div class="sabores"> 
          
            <h4>Sabores disponibles</h4>
            <select name="Sabores" id="cajaSabores" placeholder="elegi tu sabor"> <!--como hago para poner placeholder en caja de selecion? -->
              <option value="Frutilla">Frutilla</option>
              <option value="Chocolate">Chocolate</option>
              <option value= "Vainilla">Vainilla</option>
            </select>
          </article>
          <div>
            <p>+ Modo de uso</p>
            <p>+ Ingredientes</p>
            
          </div>

          

          <div class="contenedorPadreProd"> <!--carro compras-->
            <h3>Nompre de producto</h3>
            
            <h3>$$$$</h3>
            <button id="carro de compras">Añadir a mis compras</button>
            <p>12 cuotas sin Interes</p>
            <i class="fab fa-cc-visa"></i>
            <i class="fab fa-cc-mastercard"></i>
            <i class="fab fa-cc-amex"></i>

          </div>


    </main>


    <footer > <!--insertar footer de elio-->
     

      
    </footer>
   
  </body>

</html>
