<!DOCTYPE html>

<html>

  <%-include("partials/head.ejs") %>
  <body>
    <%-include("partials/header.ejs") %>


  <!-- FORMULARIO DE REGISTRO -->
<br>
<br>
<br>
<br>
<main>
  <form action="/users/register" class="formcenter" method="POST">

  <p class="titleform">
    <h3 id=margen1> Formulario </h3>
    <h3 id=margen2> de registro </h3>
  </p>

    <p class="formreg">
      <label for="nombre"> </label>
      <input type="text" class= "sinborde" placeholder="*Nombre" value="" maxlength="30" name="nombre" id:="nombre">
      <br/> <br/>
      <label for="apellido"> </label>
      <input type="text" class= "sinborde" placeholder="*Apellido" value= "" maxlength="30" name="apellido" id="apellido">
      <br/> <br/>

      <label for="text"> Sexo: </label>
      <label for="varon"> Masculino </label>
      <input type="checkbox" name="sexo" id="varon" value="Varón">
      <label for="mujer"> Femenino </label>
      <input type="checkbox" name="sexo" id="mujer" value="Mujer">

      <br/> <br/>
      <label for="email"> </label>
      <input type="text" class= "sinborde" placeholder="*Dirección de e-mail" value="" maxlength="30" name="email" id="email">
      <br/> <br/>
      <label for="password"> </label>
      <input type="password" placeholder="Contraseña" class= "sinborde" name="contraseña">
      <br>
      <br>
      <label for="password"> </label>
      <input type="password" placeholder="Confirmar contraseña" class= "sinborde" name="contraseña">


      <br/> <br/>
      <br/> <br/>
      <input type="checkbox" name="combo" value="Primero">
      <label for="text" class="Accept"> Acepto los terminos y condiciones </label>
      <br> <br/>
      <br/> <br/>
      <input type="submit" class="Cuenta" value="CREAR CUENTA" style="width:250px; height:40px">
      <!-- <input type="reset" value="REINICAR"> -->
  </p>
  </form>
</main>
  <%-include("partials/footer.ejs") %>
  </body>
  </html>




