
  
  .table {
    /* width: 50%;  */
    background-color: rgb(129, 141, 141);
    font-family: 'Montserrat', sans-serif;
    font-size: 270%;
    color:white;
    border: none;
    border-style: hidden;
 }
 th, td {
    text-align: center;
    vertical-align: center;
    padding: 0.3em;
    background-color: rgb(129, 141, 141);
    font-family: 'Montserrat', sans-serif;
    font-size: 270%;
    color:white;
    border-style: hidden;
    border-color: rgb(231, 12, 231);

 }
 table td:first-child {
  background-color: rgb(129, 141, 141);
  text-align: center;
  width: 1%;
  white-space:nowrap;
  line-height:0;
  border: none;
  border-style: hidden;
 
}

table td:nth-child(2) {
  width: 10px;
  background-color: rgb(129, 141, 141);
  text-align: left;
  width:1%;
  white-space:nowrap;
  border: none;
  border-style: hidden;
}

table td:nth-child(3) {
  width: 10px;
  background-color: rgb(129, 141, 141);
  text-align: center;
  width:1%;
  white-space:nowrap;
  border-style: hidden;
}

table td:nth-child(4) {
    width: 10px;
    background-color: rgb(129, 141, 141);
    text-align: center;
    width:1%;
    white-space:nowrap;
    border-style: hidden;
}
 caption {
    padding: 0.5em;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(129, 141, 141);
    border-bottom: rgb(129, 141, 141);
    font-size: 290%;
    text-align: left;
    color: white;
    border-style: hidden;
 }
 .envios {
  border: 15px solid rgb(129, 141, 141);
  background-color: rgb(129, 141, 141);
  font-family: 'Montserrat', sans-serif;
  font-size: 180%;
  text-align: left;
  color: white;
}
.envio {
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
    
     
}
#medioenvio {
  border: 15px solid rgb(129, 141, 141);
  background-color: rgb(129, 141, 141);
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  font-size: 250%;
  color: white;

}

.section {
  display: flex;
  justify-content: left;
  border: 1px solid rgb(129, 141, 141);
  flex-direction: column;
}

#img1 {
  width: 50%;
  height: auto;
}
#img2 {
  width: 50%;
  height: auto;
}



@media (min-width: 1000px) {
  .section {
    display: flex;
    justify-content: left;
    border: 1px solid rgb(129, 141, 141);
    flex-direction: column;
    margin-left: 50%;

    }
    table {
      /* width: 50%; */
    width: 10px;
    background-color: rgb(129, 141, 141);
    text-align: center;
    width:1%;
    white-space:nowrap;
    border-style: hidden;
    }
    th, td {
      text-align: center;
      vertical-align: center;
      padding: 0.3em;
      background-color: rgb(129, 141, 141);
      font-family: 'Montserrat', sans-serif;
      font-size: 100%;
      color:white;
      border-style: hidden;
      border-color: rgb(231, 12, 231);
  }
  #img1 {
    width: 50%;
    height: auto;
}
  #img2 {
    width: 50%;
    height: auto;
}
#medioenvio {
  border: 15px solid rgb(129, 141, 141);
  background-color: rgb(129, 141, 141);
  font-family: 'Montserrat', sans-serif;
  text-align: right;
  font-size: 100%;
  color: white;

}
.envio {
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  font-size: 50%;
}
#captioncarrito {
  font-size: 15px;
}
}
