















input {/* genera problemas en searchbar */
  border: 1px solid rgba(0, 0, 0, 0.137);
  padding: 1vh;
  margin-bottom: 4vh;
  outline: none;
  width: 100%;
  background-color: rgb(247, 247, 247)
}

input:focus::-webkit-input-placeholder {
  color: transparent
}



