body{
    background-color:hsl(0, 0%, 100%);
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    }
/*HEADER*/
header{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #bcd1ab;
}
header img{
max-width: 60px ;
max-height: 40px;
}
header p:hover{text-decoration: underline}

#Banner{
    width: 100vw;

}
    
.barra {
    background-color: rgb(240, 238, 238);
    font-family: 'Montserrat', sans-serif;
}

.titleform{
    float: right;
    line-height: 12px; 
    font-family: 'Montserrat', sans-serif;
}
#margen1 {
    line-height: 2px;
    margin-left: 7%;
}
#margen2 {
    line-height: 2px;
    margin-left: 7%;
}

/*.formreg {
    float: left;
    color: rgb(130, 130, 145);
    background: white;
    font-size: 13px;
    line-height: 15px; 
    justify-content: space-around; 
    font-style: italic;
    margin-left: 7%;
    }*/
    .sinborde {
        border-top: red;
        border-left: red;
        border-right: red;
        font-family: 'Montserrat', sans-serif;
        font-style: italic;
        width: 100%;
    }

    .Accept{
        text-align: right;
        font-style: normal;
        font-weight: bold;
        font-size: 10px;
        font-family: 'Montserrat', sans-serif;   
    }

    .Cuenta{
        font-family: 'Montserrat', sans-serif, bold;
        font-weight: bold;
        border-radius: 17px;
        background-color: whitesmoke; 
    }

    .contenedorForm{
    display:flex;
    flex-direction: column;
    height: auto;
    margin-left: 2%;
    flex-grow: 0.7;
    }
    .contenedorLogin{
        display:flex;
        flex-direction: row;
        border: 2px dotte red;
        align-items: center;
    }
    #img{
        width:60%;
        height:auto;
        
    }
    
/*FOOTER*/
footer{
    display: flex;
    flex-direction: row;
    background-color: #bcd1ab;
    justify-content: space-around;
}
footer img{
    max-height: 120px;
    max-width: 160px;
    box-sizing: content-box;
}
#footerLinks{  
    text-align:center;
    box-sizing:content-box;
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;   
}
#footerEmail{
    text-align:center;
    box-sizing:content-box;
    display: inline-flex;
    flex-direction: column;
}
@media (max-width: 600px){
    #img{
        width:60%;
        height:auto;
        display:none
        
    }
    .contenedorLogin{
        display:flex;
        justify-content: center;
        flex-direction: row;
        border: 2px dotte red;
        align-items: center;
    }
}