body{
    background-color:hsl(0, 0%, 100%);
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    }
/*HEADER*/
header{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #bcd1ab;
}
header img{
max-width: 60px ;
max-height: 40px;
}
header p:hover{text-decoration: underline}

#Banner{
    width: 100vw;

}
    

.imagenProducto{
    margin:2%;
    object-fit: contain;
    margin-left: ;
}
#productoYTexto{
    display:flex;
    flex-direction: row;

}
.conteiner{
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 90%;
    background-color: white;
}
.carrusel{
    width:25%;
    /* border: 2px dotted red; */
    margin: 5px;
    object-fit:contain;
}
.conteiner1{
    display:flex;
    flex-direction: row;
    justify-content:center;
    margin-top:auto;
    width:80%;
    height:10vh;
    position:relative;
    box-sizing: border-box;
}
#conteinerTextoProducto{/*para pc*/
    display:flex;
    flex-direction: column;
    text-align: justify;
    justify-content: center;
    margin: 5%;
    color:grey;
    width:90%;
    flex-grow:2;
}
.conteiner2{
    display:flex;
    flex-direction: column;
    justify-content:center;
    margin:5%;
    width:90%;}

.sabores{
    display:flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 90%;
    margin-left:5%;
}
#cajaSabores{
   
   margin-left:5%;
   
   flex-grow: 4;
}
.linea{
    border-bottom: 2px solid ;
}
#precio{
    display: flex;
    flex-direction: column;
    justify-content: left;
    /* border:2px solid black; */
    margin-top: 10%;
    margin-right: auto;
    margin-left: 10%;
    margin-bottom: 5%;
    width:70%;
    flex-grow:1;
    text-align: left;
    height: auto;
}
.contenedorMaxProd{
    display:flex;
    flex-direction: row;
    /* border:2px solid blue; */
}

.botonCarrito{
    background-color: grey;
    color:white
}
#nomYPrecio{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: justify;
    font-size: 24px;
    font-weight: bold;
    color:grey;
    
}
.lineaSeparadora{
    border-bottom: 2px solid grey;

}
.lineaSeparadora2{
    border-bottom: px solid grey      <div class="sabores">                       <h4>Sabores disponibles</h4>            <select name="Sabores" id="cajaSabores" placeholder="elegi tu sabor"> <!--como hago para poner placeholder en caja de selecion? -->              <option value="Frutilla">Frutilla</option>              <option value="Chocolate">Chocolate</option>              <option value= "Vainilla">Vainilla</option>            </select>            </div>;
    margin-right: 48%;
    margin-left: 5%;
}



/*FOOTER*/
footer{
    display: flex;
    flex-direction: row;
    background-color: #bcd1ab;
    justify-content: space-around;
}
footer img{
    max-height: 120px;
    max-width: 160px;
    box-sizing: content-box;
}
#footerLinks{  
    text-align:center;
    box-sizing:content-box;
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;   
}
#footerEmail{
    text-align:center;   
    box-sizing:content-box;
    display: inline-flex;
    flex-direction: column;

}









@media (min-width: 1000px){

        .conteiner2{
            display:flex;
            flex-direction: row;
            justify-content:center;
            /* border: 2px dotted red; */
            margin-top:5%;
            margin-left:0px;
            margin-right:0px;
            margin-bottom: 0px;
            width:80%;
            block-size:50% content-box;
            box-sizing: border-box;
        }

         #conteinerTextoProducto{/*para pc*/
             display:flex;
             flex-direction: column;
             /* border: 2px dotted yellow; */
             text-align: justify;
             justify-content: center;
             margin: 5%;
             color:grey;
             width:30%;
             flex-grow: 2;
            }
        .imagenProducto{
             margin:auto;
             object-fit: contain;
             height: auto;
             width:200px;
             box-sizing: border-box;
             }
        #contenedorPadreProd{
            display: flex;
            flex-direction: column;
            justify-content: left;
            border:2px solid black;
            margin-top:5%
            }
        
         .contenedorMaxProd{
             display:flex;
             flex-direction: row;
             /* border:2px solid blue; */
             margin:5%;
             margin-top: auto;
             margin-bottom: 1%;
            }
         .conteiner1{
            display:flex;
            flex-direction: row;
            justify-content:center;
            margin-top:auto;
            width:50%;
            height:10vh;
            position:relative;
            box-sizing: border-box;
            }
        .sabores{
            display:flex;
            flex-direction: row;
            justify-content: left;
            align-items: center;
            width: 43%;
            margin-left:5%;
            margin-top: auto;
}