body{
    background-color:hsl(0, 0%, 100%);
    /* font-family: 'Montserrat', sans-serif; */
    /* text-align: center; */
    }
/*HEADER*/
header{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #bcd1ab;
}
header img{
max-width: 60px ;
max-height: 40px;
}
header p:hover{text-decoration: underline}

#Banner{
    width: 100vw;

}

/*DESTACADOS*/
section{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}
#img-destacado{
    max-width: 320px;
    max-height:240px;
}

#Titulo{
    text-align: center
}

/*FOOTER*/
footer{
    display: flex;
    flex-direction: row;
    background-color: #bcd1ab;
    justify-content: space-around;
}
footer img{
    max-height: 120px;
    max-width: 160px;
    box-sizing: content-box;
}
#footerLinks{  
    text-align:center;
    box-sizing:content-box;
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;   
}
#footerEmail{
    text-align:center;   
    box-sizing:content-box;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
    }
.imagenProducto{
    
    margin:2%;
    object-fit: contain;
    margin:5%
}
#productoYTexto{
    display:flex;
    flex-direction: row;

