body{
    background-color:hsl(0, 0%, 100%);
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    }

header{
    display:flex;
    flex-direction: row;
    justify-content: space-around;  
}

#Destacados{
    display: flex;
    flex-direction:row ; 
    justify-content: space-around;
}

#Titulo{
    text-align: center
}

footer{
    background-color: #bcd1ab;
}

#footerLinks{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;   
}

#footerEmail{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    }
.imagenProducto{
    
    margin:2%;
    object-fit: contain;
    margin:5%
}
#productoYTexto{
    display:flex;
    flex-direction: row;

